{% load static %}

<!DOCTYPE html>
<html>
	{% include "tycoon/header.html" %}
	<body>
		{% include "tycoon/nav.html" %}

		<div class="character">
			<div class="container-fluid">
				<div class="row">
					<h2 class="text-center">{{ avatar.name }}</h2></br>
					<div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-2" id="ava">
						<img src="{{ avatar.image_f.url }}" class="img-responsive">
					</div>
					<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-lg-4 col-lg-offset-1">
						<canvas id="myChart" width="400" height="400" style="margin-top: 20px"></canvas>
					</div>
				</div>
			</div>
		</div>
		
		<!-- CHART -->
		<script src="{% static 'tycoon/Chart.js' %}"></script>
		<script>
		var ctx = document.getElementById("myChart");
		var dat = {
			labels: ["체력", "지력", "매력", "잉여력", "운"],
			datasets: [{
				label: "능력치",
				backgroundColor: "rgba(209, 48, 118, 0.2)",
			   	borderColor: "rgba(209, 48, 118, 0.8)",
			   	pointBackgroundColor: "rgba(209, 48, 118, 0.8)",
			   	pointBorderColor: "#fff",
			   	pointHoverBackgroundColor: "#fff",
			   	pointHoverBorderColor: "rgba(209, 48, 118, 0.8)",
			   	data: [{{avatar.strength}},{{avatar.intelligence}},{{avatar.charm}},{{avatar.surplus}},{{avatar.luck}}]}]
			};
		var myRadarChart = new Chart(ctx, { 
			type: 'radar', 
			data: dat, 
			options: {
				scale: {
					ticks: { 
						beginAtZero: true, 
						max: 30
					}
				}
			}
		});
		</script>

		<!-- AVATAR IMAGE -->
		<script>
			var front = true;
			$("#ava").bind("click", function(e) {
				if(front == true) {
					front = false;
					$("div#ava").children().first().replaceWith("<img src='{{ avatar.image_b.url }}' class='img-responsive' id='ava'>");
					console.log("FRONT");
				}
				else {
					front = true;
					$("div#ava").children().first().replaceWith("<img src='{{ avatar.image_f.url }}' class='img-responsive' id='ava'>");
					console.log("BACK");
				}
				});
		</script>
		{% include "tycoon/footer.html" %}
	</body>
</html>
