{% load static %}

<!DOCTYPE html>
<html>
	{% include "tycoon/header.html" %}
	<body>
		{% include "tycoon/nav.html" %}

		<div class="character">

			<div class="container">

				<div class="row">
					<h2 class="text-center">{{ avatar.name }}</h2></br>
					<div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
						<img src="{{ avatar.image_f.url }}" class="img-responsive">
					</div>
					<div class="col-xs-6 col-xs-offset-3">
						<img src="{{ avatar.image_b.url }}" class="img-responsive">
					</div>
				</div>
			</div>
		</div>

		{% include "tycoon/footer.html" %}
	</body>
</html>
