{% load static %}

<!DOCTYPE html>
<html>
	{% include "tycoon/header.html" %}
	<body>
		{% include "tycoon/nav.html" %}

		<div class="codeToitem">
			<div class="container">
				<h2 class="text-center">code to Item</h2>	
				<form action="codeToItem" method="POST">
					<div class="form-group col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
					{% csrf_token %}
						<input type="text" class="form-control" id="codeToItem" name="codeToItem" placeholder="input your code">
						<button type="submit" class="btn btn-default" >Submit</button>
					</div>
				</form>
			</div>
		</div>
		
		<!--
		<script type="text/javascript">
  			function alertBox(mes) {
				alert(mes);
			}
		</script> -->

		{% include "tycoon/footer.html" %}
	</body>
</html>
