{% load static %}

<!DOCTYPE html>
<html>
	{% include "tycoon/header.html" %}
		<body>
		{% include "tycoon/nav.html" %}
		{% csrf_token %}

		<div class="container combination">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-sm-offset-3">
					<div class="row">
						<div class="col-xs-4" id="item-left">
							<img src="{% static 'tycoon/white.png' %}" class="img-responsive img-rounded">
						</div>
						<div class="col-xs-4">
							<img src="{% static 'tycoon/plus.png' %}" alt="더하기" class="img-responsive plus">
						</div>
						<div class="col-xs-4" id="item-right">
							<img src="{% static 'tycoon/white.png' %}" class="img-responsive img-rounded">
						</div>
					</div>
					<br>
					<br>
					<div class="row">
						<div class="col-xs-8 col-xs-offset-2">
							<img id="item-combined" src="{% static 'tycoon/white.png' %}" class="img-responsive img-rounded">
						</div>
					</div>
					<br>
					<br>
					<h1 class="text-center">소유중인 아이템</h1>
					<div class="row" id="item_basket">
						{% for i in clist %}
						<div class="col-xs-3 item">
							<img src="{{ i.item.icon.url }}" alt="{{ i.item.name }}" contains="{{ i.pk }}" class="img-responsive img-rounded">
						</div>
						{% endfor %}
					</div>
					<br>
					<br>
				</div>
			</div>

		</div>

		{% include "tycoon/footer.html" %}

		<script src="{% static 'tycoon/combination.js' %}"></script>

	</body>
</html>
