{% load static %}

<!DOCTYPE html>
<html>
	{% include "tycoon/header.html" %}
	<body>
		{% include "tycoon/nav.html" %}

		<div class="container combination">
			<div class="row" id="item_basket">
				{% for item in item_list %}
				<div class="item col-xs-4 col-sm-3 col-lg-2">
					{% if item.1 %}
						<img id="canvasSource" src="{{ item.0.icon.url }}" alt="{{ item.0.name }}" 
						class="img-responsive img-rouded" data-toggle="modal" data-target="#myModal">

					{% else %}	
						<img src="{{ item.0.icon.url }}" alt="{{ item.0.name }}" class="gray img-responsive img-rouded">
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
		{% include "tycoon/footer.html" %}
	
		<!-- MODAL--> 
		<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" 
		role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
			   	<div class="modal-content">
					{% for c in comb_list %}
			    		{% if item.0.name == c.combination.new_item.name %}
							<div class="col-xs-4"> 
								<img src="{{ c.combination.item1.icon.url }}" alt="{{ c.combination.item1.name }}" 
								class="img-responsive img-rouded">
							</div>
							<div class="col-xs-4">
								<img src="{% static 'tycoon/plus.png' %}" alt="더하기">
							</div>
							<div class="col-xs-4">
								<img src="{{ c.combination.item2.icon.url }}" alt="{{ c.combination.item2.name }}" 
								class="img-responsive img-rouded">
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</body>
</html>
