{% load static %}

<!DOCTYPE html>
<html>
	{% include "tycoon/header.html" %}
	<body>
		{% include "tycoon/nav.html" %}

		<div class="container combination">
			<div class="row" id="item_basket">
				{% for item in item_list %}
				<div class="item col-xs-2">
					{% if item.1 %}
						<img id="canvasSource" src="{{ item.0.icon.url }}" alt="{{ item.0.name }}" class="img-responsive img-rouded">
					{% else %}	
						<img src="{{ item.0.icon.url }}" alt="{{ item.0.name }}" class="gray img-responsive img-rouded">
					{% endif %}
				</div>
				{% endfor %}
			</div>
		</div>
		{% include "tycoon/footer.html" %}

	</body>
</html>
