{% load static %}

<!DOCTYPE html>
<html>
	{% include "tycoon/header.html" %}
	<body>
		{% include "tycoon/nav.html" %}

		<div class="mission">
			<div class="container">
				<h2 class="text-center">분반별 미션</h2>
				<br>

				{% for mission in result %}

				<div class="col-sm-6">
					<a href="#" data-toggle="modal" data-target="#mission{{mission.0.id}}">
					<div class="alert {% if mission.1 %}alert-success{% else %}alert-warning{% endif %}">{{mission.0.name}}</div></a>
				</div>

				{% endfor %}
			</div>
		</div>

		{% for mission in result %}

		<div class="modal fade" id="mission{{mission.0.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">{{mission.0.name}}</h4>
		      </div>
		      <div class="modal-body">
		      	<h3 class="text-center">목표</h3>
		      	<h4 class="text-center">{{mission.0.explanation}}</h4>
		      	<br>
		      	<h3 class="text-center">클리어 퍼센트</h3>
		        <div class="progress">
				  <div class="progress-bar" style="width: {{ mission.0.percentage }}; min-width: 3em;">
				    {{ mission.0.percentage }}
				  </div>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
		      </div>
		    </div>
		  </div>
		</div>

		{% endfor %}

		{% include "tycoon/footer.html" %}

		<script src="{% static 'tycoon/combination.js' %}"></script>
	</body>
</html>