<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		 		<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/home/">포스테키안 키우기</a>
	    </div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				{% if user.is_authenticated %}
				<li><a href="/codeToItem/">코드 입력</a></li>
				<li><a href="/use/">능력치 올리기</a></li>
				<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">조합하기 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/combination/">제작소</a></li>
						<li><a href="/lab/">연구소</a></li>
					</ul>
				</li>
				<li><a href="/itemBook/">아이템 도감</a></li>
				<li><a href="/mission/">분반별 미션</a></li>
				<li><a href="/map/">지도</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">다른 분반 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/ranking/">랭킹</a></li>
						{% for user in all_users %}
						<li><a href="/avatar/{{user.0}}/"{>{{ user.1 }}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}
				{% if user.is_authenticated %}
				<li><a href="{% url 'django.contrib.auth.views.logout' %}?next=/home/">로그아웃</a></li>
				{% endif %}
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
