<nav class="navbar navbar-default">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		 		<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/avatar/">POSTECHian Tycoon</a>
	    </div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/avatar/">우리 분반</a></li>
				<li><a href="/codeToItem/">코드 입력</a></li>
				<li><a href="/use/">능력치 올리기</a></li>
				<li><a href="/combination/">조합하기</a></li>
				<li><a href="/itemBook/">아이템 도감</a></li>
				<li><a href="/mission/">분반별 미션</a></li>
				<li><a href="{% url 'django.contrib.auth.views.logout' %}?next=/login/">Log out</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">다른 분반 <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">1분반</a></li>
						<li><a href="#">2분반</a></li>
						<li><a href="#">3분반</a></li>
						<li><a href="#">4분반</a></li>
						<li><a href="#">5분반</a></li>
						<li><a href="#">6분반</a></li>
						<li><a href="#">7분반</a></li>
						<li><a href="#">8분반</a></li>
						<li><a href="#">9분반</a></li>
						<li><a href="#">10분반</a></li>
						<li><a href="#">11분반</a></li>
						<li><a href="#">12분반</a></li>
						<li><a href="#">13분반</a></li>
						<li><a href="#">14분반</a></li>
						<li><a href="#">15분반</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
