{% load static %}

<!DOCTYPE html>
<html>
	{% include "tycoon/header.html" %}
	<body>
		{% include "tycoon/nav.html" %}
		{% csrf_token %}

		<div class="container-fluid combination">
			<div class="row">
				<br>
				<br>
				<br>
				<br>
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
					<div class="row" id="item_basket">
						<h1 class="text-center">소유중인 아이템</h1>
						{% for i in clist %}
						<div class="item col-xs-3">
							<img src="{{ i.item.icon.url }}" alt="{{ i.item.name }}" contains="{{ i.pk }}" class="img-responsive img-rounded">
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-1">
					<canvas id="myChart" width="400" height="400"></canvas>
				</div>
			</div>
		</div>
		
		<script src="{% static 'tycoon/Chart.js' %}"></script>
		<script>
		var ctx = document.getElementById("myChart");
		var dat = {
			labels: ["체력", "지력", "매력", "잉여력", "운"],
			datasets: [{
				label: "능력치",
				backgroundColor: "rgba(209, 48, 118, 0.2)",
			   	borderColor: "rgba(209, 48, 118, 0.8)",
			   	pointBackgroundColor: "rgba(209, 48, 118, 0.8)",
			   	pointBorderColor: "#fff",
			   	pointHoverBackgroundColor: "#fff",
			   	pointHoverBorderColor: "rgba(209, 48, 118, 0.8)",
			   	data: [{{avatar.strength}},{{avatar.intelligence}},{{avatar.charm}},{{avatar.surplus}},{{avatar.luck}}]}]
			};
		var myRadarChart = new Chart(ctx, { 
			type: 'radar', 
			data: dat, 
			options: {
				scale: {
					ticks: { 
						beginAtZero: true, 
						max: 30
					}
				}
			}
		});
		</script>

		{% include "tycoon/footer.html" %}
	</body>
</html>
